*.iml
.gradle/
local.properties
/local.properties
.idea/
.DS_Store
build/
**/build/
app/build/
*.apk
*.aab
*.dex
*.ap_
*.class
*.keystore
*.keystore.base64
debug.keystore
debug.keystore.base64
.build-outputs/
**/.build-outputs/
.kotlin/
.env
.dev.env.json
../.dev.env.json
node_modules/
dist/
.next/

